{% extends 'base.html'%}
{% load static %}
{% block title%}Categorie{% endblock %}

{% block content%}
   {% include 'navigation.html'%}
   <div style="position:relative; display:block;top:6.55rem;">
      <div style="display:block">
         <div class="recevoir-jesus-main-container">
            <h1 style="font-size:2rem;" class="text-center pb-5">Recevez Jesus</h1>
            <div>
               <img src="{%static 'oasis-g9d90aaacc_1280.jpg'%}" />
               
               <div style="padding:1rem 0rem; " class="mt-5">
                  <div style="background:#d1d1d1; padding:0.5rem; border-radius:0.5rem">
                     <a href="https://www.biblegateway.com/passage/?search=Jean%201%3A12&version=LSG" style="color:blue; margin-top:1rem">Jean 1:12</a>
                     <p>12. Mais à tous ceux qui l'ont reçue, à ceux qui croient en son nom, elle a donné le pouvoir de devenir enfants de Dieu,</p>
                  </div>
                  <br/>
                  <P>
                        Recevoir Jésus est un acte volontaire de l'homme qui agit selon la Parole de Dieu (La Bible). L'homme sait qu'il n'a pas de Sauveur, qu'il est impuissant à s'approcher de Dieu et qu'il est privé de la vie éternelle. Mais il peut lever ses regards vers Dieu et prier :
                        <br/>
                      <ul style="list-style-type:square; padding-left:3rem;">
                           <li> Père, je viens à toi au Nom du Seigneur Jésus-Christ. Je sais que Tu ne me rejetteras pas, car Tu dis dans Ta Parole : « ... Je ne mettrai pas dehors celui qui vient à moi ».</li>
                           <li>Je crois dans mon coeur que Jésus-Christ est le Fils de Dieu, qu'il est mort pour mes péchés, selon les Écritures.</li>
                           <li>Je crois qu'il est ressuscité d'entre les morts, afin que je sois justifié selon les Écritures. « Justifié » veut dire réconcilié, en règle avec Dieu.</li>
                           <li>Je crois que la mort, l'ensevelissement et la résurrection de Christ m'ont réconcilié avec Dieu..</li>
                           <li>Je reçois Jésus comme mon Sauveur et confesse qu'Il est mon Seigneur.</li>
                           <li>Ta Parole dit : « Quiconque invoquera le nom du Seigneur sera sauvé ». J'invoque Ton Nom maintenant et je sais que je suis sauvé.</li>
                           <li>Tu dis également : « Si tu confesses de ta bouche le Seigneur Jésus, et si tu crois dans ton coeur que Dieu l'a ressuscité d'entre les morts, tu seras sauvé ». Je le confesse de ma bouche et le crois dans mon coeur. Donc, je suis sauvé.</li>
                           <li>Tu as déclaré : « ...en croyant du coeur on parvient à la justice ». Et je crois dans mon coeur que je suis justifié aux yeux de Dieu.</li>
                           <li>Tu as également affirmé : « ...en confessant de la bouche, on parvient au salut ». C'est pourquoi je confesse de ma bouche : « Je suis sauvé. Merci, Seigneur ! »</li>
                        </ul>
                  </p>
                  <h2 style="font-size:2rem">En cette journée, partagez cette pensée à ceux qui n'ont pas fait la Paix avec Dieu !</h2>
                  <p>Article de <strong>pasteur Kenneth Hagin</strong></p>
               </div>
            </div>
        </div>
      </div>
   </div>
   
      
   <div style="position:absolute; padding-top:5rem; width:100%">
      {% include 'footer.html'%}
    </div>
{% endblock %}

